name: Run Carbon Model

on:
  push:
    branches:
      - main

jobs:
  run-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/upload-artifact@v4


      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install pandas

      - name: Run carbon model
        run: |
          python carbon_model.py


      - name: Upload results file
        uses: actions/upload-artifact@v4
        with:
          name: carbon-results
          path: results.csv
